@model ChemAnalyst.ViewModel.IndustryViewModel
@{
    ViewBag.Title = "Free Trail";
    Layout = "~/Views/Shared/_LayoutUser4.cshtml";
}
<div class="inner-banner">
    <img src="~/images/about-banner.jpg">
    <h1>Free Trail</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Free Trail</li>
    </ol>
</div>
<div class="page-content">
    <div class="static-page">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="filter-form-checkbox-btn">
                        <p>Free Trail we give you 24 hours free access to our website. Just full the registeration form  and our team will actiate your access. What you get</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="filter-chk-list">
                                    <label class="c-lbl">
                                        Daily/Monthly/Yearly Price Update
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="filter-chk-list">
                                    <label class="c-lbl">
                                        Complete Product Analysis
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="filter-chk-list">
                                    <label class="c-lbl">
                                        Company Profile of Leading Companies
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="filter-chk-list">
                                    <label class="c-lbl">
                                        Major development and top deaiss
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="static-desc contact-blue-box mt-0">
                        <div id="quotationForm" class="eq-form mt-0">
                            @*Cnt find Studs controller*@
                            @*@using (Html.BeginForm("Save", "Studs", FormMethod.Post))*@

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input id="txtName" name="form_name" class="form-control" type="text" placeholder="Name" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input id="txtCorpEmail" name="form_email" class="inputtype form-control required email" type="email" placeholder="Corporate Email " required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input id="txtOrganisation" name="form_phone" class="inputtype form-control required" type="text" placeholder="Company / Organisation" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @*<input id="txtCountry" name="form_phone" class="inputtype form-control required" type="text" placeholder="Country" required>*@
                                        @Html.DropDownList("txtCountry", ChemAnalyst.DAL.ProductDataStore.GetCountry(), "Select Country", new { @class = "form-control", @name = "txtCountry", @style = "color: #fff; background:#4b80e0" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @*<input id="txtState" name="form_phone" class="inputtype form-control required" type="text" placeholder="State" required>*@
                                        @Html.DropDownList("txtState", ChemAnalyst.DAL.ProductDataStore.GetState(), "Select State", new { @class = "form-control", @name = "txtState", @style = "color: #fff; background:#4b80e0" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input id="txtPhone" onkeypress="return isNumberKey(event)" name="form_phone" class="inputtype form-control required" type="text" placeholder="Phone" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input id="txtAreaInterest" name="form_phone" class="inputtype form-control required" type="text" placeholder="Area of Interest" aria-required="true">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input id="txtUserType" name="form_user" class="inputtype form-control required" type="text" placeholder="User Type" aria-required="true">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input id="txtSubject" name="subject" class="inputtype form-control required" type="text" placeholder="Subject" aria-required="true">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea id="txtQuery" name="form_message" class="inputtype form-control required" rows="5" placeholder="Query" aria-required="true"></textarea>
                            </div>
                            <div class="form-group mt30">
                                <input name="form_botcheck" class="form-control" type="hidden" value="">
                                <button id="btnSave" type="submit" class="common-btn" data-loading-text="Please wait...">Submit</button>
                            </div>
                            @*}*@
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <aside>
                          <div class="side-news-feed" style="height: 540px;">
                                <h3><i class="fa fa-bell-o"></i> News</h3>
                                <marquee behavior="scroll" direction="up" style="height: 400px;" onmouseover="stop()" onmouseout="start()">
                                    @foreach (var item in Model.NewsList)
                                    {
                                        <div class="news-feed-col">
                                            <a href="@Url.Action("NewsDetails", "NewsAndDeals", new { id = item.GenerateItemNameAsParam() })">
                                                <div class="right-news-desc2">
                                                    @{

                                                        if (item.NewsDiscription.Length > 60)
                                                        {

                                                            <p>@Html.Raw(WebUtility.HtmlDecode(item.NewsDiscription.Substring(0, 60)))</p>
                                                        }

                                                    }
                                                    <p><i class="fa fa-clock-o"></i>@item.CreatedTime.ToString("MMM/yyyy")</p>
                                                </div>
                                            </a>
                                        </div>

                                    }
                                </marquee>
                            </div>

                            <div class="side-news-feed mt-4" style="height: 540px;">
                                <h3><i class="fa fa-thumbs-up"></i> Top Deals</h3>
                                <marquee behavior="scroll" direction="up" style="height: 450px;" scrollamount="3" onmouseover="stop()" onmouseout="start()">
                                    @foreach (var item in Model.DealsList)
                                    {
                                        <div class="news-feed-col">
                                            <a href="@Url.Action("DealsDetails", "NewsAndDeals", new { id = item.GenerateItemNameAsParam() })">

                                                <div class="right-news-desc2">

                                                    @{

                                                        if (item.DealsDiscription.Length > 60)
                                                        {
                                                            <p>@Html.Raw(WebUtility.HtmlDecode(item.DealsDiscription.Substring(0, 60)))</p>

                                                        }

                                                    }

                                                    <p><i class="fa fa-clock-o"></i>@item.CreatedTime.Value.ToString("MMM/yyyy")</p>
                                                </div>
                                            </a>
                                        </div>
                                    }
                                </marquee>
                            </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>


