@model ChemAnalyst.ViewModel.IndustryViewModel



<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no" />
    <title>Chem Analyst - Add New Category </title>
    <link rel="stylesheet" href="~/css/bootstrap-admin.css" type="text/css" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css" />
    <link rel="stylesheet" href="~/css/build.css" type="text/css" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

</head>

<body>

    <section class="top-wrapper">
        <div class="side-left">
            <span>
                <img src="~/images/icon01.png" alt="" />
            </span>
            <h2>Chem Analyst</h2>
        </div>
        <div class="top-inner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="top-left">
                            <span>
                                <i class="fa fa-bars"></i>
                            </span>
                            <h2>User Management</h2>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="top-right">
                            <img src="~/@Session["UserImg"].ToString()" alt="" />
                            <h4>@Session["User"].ToString()</h4>
                            <div class="dropdown">
                                <button class="dropbtn"> <i class="fa fa-cogs" aria-hidden="true"></i></button>


                                <div class="dropdown-content">
                                    <a href="@Url.Action("CustUpdateProfile", "Login")"><i class="fa fa-pencil-square-o"></i>Profile Update</a>
                                    <a href="@Url.Action("ChangePassword", "Login")"><i class="fa fa-lock"></i>Change Password</a>
                                    <a href="@Url.Action("LogOut", "User")"><i class="fa fa-sign-out"></i>Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="side-wrapper">

        <ul>
            <li>
                <a href="#">
                    <i class="fa fa-tachometer"></i>Dashboard
                </a>
            </li>

            <li>
                <a href="~/ChemicalPricing/ChecmPriceChartuser">
                    <i class="fa fa-tachometer"></i>Chemical Pricing
                </a>
            </li>

            <li>
                <a href="~/MarketAnalysis/MarketAnalysisChartUser">
                    <i class="fa fa-tachometer"></i>Market Analysis
                </a>
            </li>

            <li>
                <a href="@Url.Action("CustCompaniesList","Login")">
                    <i class="fa fa-tachometer"></i> Company Profile
                </a>

            </li>

            <li>
                <a href="@Url.Action("CustIndustryList","Login")">
                    <i class="fa fa-tachometer"></i>Industry Report
                </a>
            </li>

            <li>
                <a href="~/NewsAndDeals/NewsHome">
                    <i class="fa fa-tachometer"></i>News
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-tachometer"></i>Deals
                </a>
            </li>

        </ul>
    </div>
    <div class="right-contant-bar" style="background: #fff;">
        <div class="page-content">
            <div class="static-page">
                <div class="">

                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-4 mb-30 scrolla">
                            <div style="box-shadow:2px 2px 2px #ccc;box-shadow: 0px 0px 12px 1px #ccc; padding: 15px;">
                                @using (Html.BeginForm("Reportsection", "Login", null, FormMethod.Post, new { @id = "myForm", enctype = "multipart/form-data" }))
                                {
                                    <input type="hidden" id="categoryname" name="categoryname" value="@ViewBag.Cat" />
                                    <input type="hidden" id="countryname" name="countryname" value="@ViewBag.Cou" />
                                    <h2 class="box-title">
                                        Categories
                                    </h2>
                                    <script>
                                        function setcategory(id, el) {
                                            if ($(el).prop("checked") == true) {
                                                $("#categoryname").val($("#categoryname").val() + (id + ","));
                                            } else {
                                                var nval = $("#categoryname").val().replace(id + ",", "");
                                                $("#categoryname").val(nval);
                                            }
                                            $("#myForm").submit();
                                        }
                                        function setcountry(id, el) {
                                            if ($(el).prop("checked") == true) {
                                                $("#countryname").val($("#countryname").val() + (id + ","));
                                            } else {
                                                var nval = $("#countryname").val().replace(id + ",", "");
                                                $("#countryname").val(nval);
                                            }
                                            $("#myForm").submit();
                                        }
                                    </script>
                                    <div style="max-height: 300px; overflow-y: scroll; margin-bottom: 20px ">
                                        <div class="checkbox11">
                                            <label>
                                                @foreach (var cat in Model.lstCategory)
                                                {
                                                    <div id="accordion-first" class="clearfix">
                                                        <div class="accordion" id="accordion1">
                                                            <div class="accordion-group">
                                                                <div class="accordion-heading">
                                                                    <span type="checkbox">
                                                                        <input @(((string)ViewBag.Cat).Contains(cat.Value + ",") ? "checked='checked'" : "") type="checkbox" onclick="setcategory(@cat.Value,this)">
                                                                    </span>
                                                                    <label class="checkbox-inline mt-3">
                                                                        @cat.Text
                                                                    </label>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                            </label>
                                        </div>
                                    </div>

                                    <h2 class="box-title">
                                        Countries
                                    </h2>
                                    <div>
                                        <div class="checkbox11 sm_chk_be" id="sm_chk">
                                            <label>
                                                <table border="0">
                                                    <tbody>
                                                        @foreach (var item in Model.lstCountry)
                                                        {
                                                            <tr>
                                                                <td>

                                                                    <input @(((string)ViewBag.Cou).Contains(item.Value + ",") ? "checked='checked'" : "") onclick="setcountry(@item.Value,this)" value="@item.Value" type="checkbox"><label>@item.Text</label>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </label>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="cat-box">
                            </div>
                            <div class="cat-box">
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8">
                            <h1 id="ctl00_ContentPlaceHolder1_cat_type" class="r-title mb-20">All Report</h1>
                            <div class="table-responsive mt-10">
                                <div class="table">
                                    <div id="ctl00_ContentPlaceHolder1_sec_data"></div><table class="table table-hover ">
                                        <tbody>

                                            @foreach (var item in Model.Industry)
                                            {
                                                <tr>
                                                    <td>
                                                        <h5 class="sm_heading_rs" style="">
                                                            <a href="@Url.Action("IndustryReports", "Industry", new { id= item .id})">@item.Title</a>
                                                        </h5>
                                                        <p class="text-justify">
                                                            @Html.Raw(WebUtility.HtmlDecode(@item.Description))
                                                            <span style="white-space:nowrap"><a style="margin-left:8px;" href="@Url.Action("IndustryReports", "Industry", new { id= item .id})" class="read-more-l">Read More</a></span>
                                                        </p>
                                                        <ul class="r_ul">
                                                            <li>
                                                                <span style="font-weight:bold">Industry :</span>
                                                                <a target="_blank" style="color:#107693!important;" href="#">@item.Industry</a>
                                                            </li>
                                                            <li><span style="font-weight:bold">Format :</span> @item.format</li>
                                                            <li><span style="font-weight:bold">Pages :</span> @item.Pages</li>
                                                            <li><span style="font-weight:bold">Published Date :</span> July 2019</li>
                                                            <li><span style="font-weight:bold"><a href="@Url.Action("FreeTrail", "ChemAnalyst")"><i class="fa fa-download"></i> Download Sample </a></span> </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>


        <div class="clearfix fillbluedark"></div>
        <footer>
            <div class="container">
                <div class="copyright">
                    @*DATE TIME SHOULD BE*@
                    <p>Copyright © @DateTime.Now.Year Chem Analyst Pvt. Ltd. All rights reserved.</p>
                </div>
            </div>
        </footer>

        <script src="~/js/jquery.js"></script>
        <script src="~/js/jquery-3.3.1.slim.min.js"></script>
        <script src="~/js/popper.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        @*<script src="http://cdnjs.cloudflare.com/ajax/libs/simplelightbox/1.17.1/simple-lightbox.js"></script>*@
        <script src="~/js/owl.carousel.js"></script>
        <script src="~/js/wow.min.js"></script>
        <script src="~/js/honey-custom.js"></script>


    <style>
        .scrolla {
            position: sticky;
            top: 5px;
        }

        .box-title {
            border-top: 2px solid #107693;
            text-align: center;
            font-size: 16px;
            line-height: 25px;
            text-align: center;
            margin-bottom: 0;
            padding: 5px 15px 5px 15px;
            -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
            box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
            margin-top: 0px !important;
        }

       

        .checkbox11 {
            position: relative;
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 13px;
            font-weight: bold important;
        }

            .checkbox11 label {
                padding-left: 20px;
                color: #404040 !important;
            }

            .checkbox11 label {
                min-height: 25px;
                padding-left: 20px;
                margin-bottom: 0;
                font-weight: bold;
                cursor: pointer;
                font-size: 11px;
            }

        .sm_chk_be {
            max-height: 200px;
            overflow-y: scroll;
        }

        .r-title {
            color: #fff;
            background-color: #107693;
            padding: 7px 10px;
            font-size: 20px;
            font-weight: normal;
            margin-top: 0px;
            line-height: 28px;
        }

        .sm_heading_rs {
            margin-bottom: 5px;
            font-size: 13px;
            color: #2D60AD !important;
            font-weight: 700;
            line-height: 20px;
            text-align: justify;
            margin-top: 0;
        }

        p {
            line-height: 24px;
        }

        p {
            font-size: 12px;
            line-height: 20px;
            margin: 0 0 8px;
            letter-spacing: 0.2px;
        }

        .r_ul {
            padding-left: 0;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        .r_ul li {
            list-style: none;
            display: inline;
            margin-right: 30px;
            font-weight: 700;
            font-size: 11px;
        }
    </style>
</body>
</html>