@model ChemAnalyst.Models.SA_Company
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="update-profile-wrapper">


    <div class="white-wrapper" style="padding-top:10px">

        <div class="data-detail-wrapper table-responsive">

            @using (Html.BeginForm("SaveCompanyProf", "CompanyProf", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.DisplayNameFor(c => c.Name)
                    @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.Name)
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(c => c.Description)
                    @Html.TextBoxFor(c => c.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.Description)
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(c => c.Logo)
                    @Html.TextBoxFor(c => c.Logo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.Logo)
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(c => c.RegDate)
                    @Html.TextBoxFor(c => c.RegDate, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.RegDate)
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(c => c.CIN)
                    @Html.TextBoxFor(c => c.CIN, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(c => c.Category)
                    @Html.TextBoxFor(c => c.Category, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(c => c.Address)
                    @Html.TextBoxFor(c => c.Address, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(c => c.NOE)
                    @Html.TextBoxFor(c => c.NOE, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.NOE)
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(c => c.CEO)
                    @Html.TextBoxFor(c => c.CEO, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.CEO)
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(c => c.Meta)
                    @Html.TextBoxFor(c => c.Meta, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.Meta)
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(c => c.MetaDescription)
                    @Html.TextBoxFor(c => c.MetaDescription, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.MetaDescription)
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(c => c.website)
                    @Html.TextBoxFor(c => c.website, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.website)
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(c => c.phoneNo)
                    @Html.TextBoxFor(c => c.phoneNo, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(c => c.fax)
                    @Html.TextBoxFor(c => c.fax, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.fax)
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(c => c.EmailId)
                    @Html.TextBoxFor(c => c.EmailId, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(c => c.CreatedTime)
                    @Html.TextBoxFor(c => c.CreatedTime, new { @class = "form-control" })
                </div>

                @Html.HiddenFor(c => c.id)
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-success">Update Entry</button>
            }

        </div>

    </div>

</div>


@section scripts
{
    <script src="~/scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/scripts/jquery.validate.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>

}