@model ChemAnalyst.ViewModel.DealsDetailsViewModel
@{
    if (Session["UserRole"] != null && Session["UserRole"].ToString().ToUpper() == "CUSTOMER")
    {
        Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutUser6.cshtml";
    }

}

    <body>
        @if (Session["UserRole"] == null)
        {

        <div class="inner-banner">
            <img src="/images/about-banner.jpg">
            <h1>Latest Deals</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("DealsHome", "NewsAndDeals")">All Deals</a></li>
            </ol>
        </div>
        }

            <div class="page-content">
                <div class="static-page" style="    background: #fff;">
                    <div class="container addMargin">

                        <div class="row">

                            <div class="col-md-9">

                                <div class="blog-detail" style="margin-top: 20px;">
                                    @{

                                        if (Session["UserRole"] != null && Session["UserRole"].ToString().ToUpper() == "CUSTOMER")
                                        {
                                            if (!string.IsNullOrEmpty(Model.Deals.DealsImg))
                                            {
                                                <div class="blog-big-pic"><img src="~/ProductImages/@Model.Deals.DealsImg" alt=""></div>
                                            }

                                            <div class="blog-detail-summary">

                                                <h1>@Model.Deals.DealsName</h1>



                                                <p>@Model.Deals.DealsDiscription</p>



                                            </div>
                                        }
                                        else
                                        {
                                            if (!string.IsNullOrEmpty(Model.Deals.DealsImg))
                                            {
                                                <div class="blog-big-pic"><img src="~/ProductImages/@Model.Deals.DealsImg" alt=""></div>
                                            }

                                <div class="blog-detail-summary">

                                    <h1>@Model.Deals.DealsName</h1>




                                    @{
                                        if (Model.Deals.DealsDiscription.Length > 300)
                                        {
                                            <p>@Html.Raw(WebUtility.HtmlDecode(Model.Deals.DealsDiscription.Substring(0, 300)))) </p>
                                        }
                                        else
                                        {
                                            <p>item.DealsDiscription... </p>
                                        }
                                    }

                                    <div class="btn subscription-btn"><a href="~/ChemAnalyst/FreeTrail">Click Here to Subscribe</a></div>

                                </div>
                                        }

                                    }

                                </div>


                            </div>

                            @if (Session["UserRole"] == null)
                            {
                                <div class="col-md-3">

                                    <aside>

                                        <div class="side-news-feed">

                                            <h3><i class="fa fa-bell-o"></i> News</h3>
                                            @foreach (var item in Model.NewsList)
                                            {
                                                <div class="news-feed-col">
                                                    <a href="@Url.Action("DealsDetails", "NewsAndDeals", new { id = item.GenerateItemNameAsParam() })">

                                                        <div class="right-news-desc2">

                                                            @{

                                                                if (item.NewsDiscription.Length > 60)
                                                                {
                                                                    <p>@Html.Raw(WebUtility.HtmlDecode(item.NewsDiscription.Substring(0, 60)))</p>

                                                                }

                                                            }

                                                            <p><i class="fa fa-clock-o"></i>@item.CreatedTime.ToString("MMM/yyyy")</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            }


                                        </div>


                                        <div class="side-news-feed mt-4">

                                            <h3><i class="fa fa-thumbs-up"></i> Top Deals</h3>

                                            @foreach (var item in Model.DealList)
                                            {
                                                <div class="news-feed-col">
                                                    <a href="@Url.Action("DealsDetails", "NewsAndDeals", new { id = item.GenerateItemNameAsParam() })">

                                                        <div class="right-news-desc2">

                                                            @{

                                                                if (item.DealsDiscription.Length > 60)
                                                                {
                                                                    <p>@Html.Raw(WebUtility.HtmlDecode(item.DealsDiscription.Substring(0, 60)))</p>

                                                                }

                                                            }

                                                            <p><i class="fa fa-clock-o"></i>@item.CreatedTime.Value.ToString("MMM/yyyy")</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            }


                                        </div>


                                    </aside>

                                </div>

                            }


                        </div>

                    </div>
                </div>
            </div>







        </body>
