@model ChemAnalyst.ViewModel.NewsDetailsViewModel

@{
    if (Session["UserRole"] != null && Session["UserRole"].ToString().ToUpper() == "CUSTOMER")
    {
        Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
        <style>
            .addMargin {
                margin-left: 10px;
            }

            .addMarginRight {
                margin-right: 15px;
                margin-top: -15px;
            }
        </style>

    }
    else
    {
        Layout = "~/Views/Shared/_LayoutUser5.cshtml";
    }

}


    <body>

        @if (Session["UserRole"] == null)
        {

        <div class="inner-banner">
            <img src="/images/about-banner.jpg">
            <h1>Latest News</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("NewsHome", "NewsAndDeals")">All News</a></li>
            </ol>


        </div>

        }
            <div class="page-content">
                <div class="static-page" style="    background: #fff;">
                    <div class="container addMargin">

                        <div class="row">

                            <div class="col-md-9">

                                <div class="blog-detail" style="margin-top: 20px;">
                                    @{

                                        if (Session["UserRole"] != null && Session["UserRole"].ToString().ToUpper() == "CUSTOMER")
                                        {
                                            if (!string.IsNullOrEmpty(Model.News.NewsImg))
                                            {
                                                <div class="blog-big-pic"><img src="~/ProductImages/@Model.News.NewsImg" alt=""></div>
                                            }

                                            <div class="blog-detail-summary">

                                                <h1>@Model.News.NewsName</h1>



                                                <p>@Model.News.NewsDiscription</p>



                                            </div>
                                        }
                                        else
                                        {
                                            if (!string.IsNullOrEmpty(Model.News.NewsImg))
                                            {
                                                <div class="blog-big-pic"><img src="~/ProductImages/@Model.News.NewsImg" alt=""></div>
                                            }

                                <div class="blog-detail-summary">

                                    <h1>@Model.News.NewsName</h1>



                                    @{
                                        if (Model.News.NewsDiscription.Length > 300)
                                        {
                                            <p>@Html.Raw(WebUtility.HtmlDecode(Model.News.NewsDiscription.Substring(0, 300)))) </p>
                                        }
                                        else
                                        {
                                            <p>item.NewsDiscription... </p>
                                        }
                                    }

                                    <div class="btn subscription-btn"><a href="~/ChemAnalyst/FreeTrail">Click Here to Subscribe</a></div>

                                </div>
                                        }

                                    }

                                </div>


                            </div>
                            @if (Session["UserRole"] == null)
                            {
                                <div class="col-md-3">

                                    <aside>

                                        <div class="side-news-feed">

                                            <h3><i class="fa fa-bell-o"></i> News</h3>
                                            <marquee scrollamount="2" behavior="scroll" direction="up" style="height: 400px;" onmouseover="stop()" onmouseout="start()">
                                                @foreach (var news in Model.NewsList)
                                                {
                                                    <div class="news-feed-col">
                                                        <a href="@Url.Action("NewsDetails", "NewsAndDeals", new { id = news.GenerateItemNameAsParam() })">
                                                            <div class="right-news-desc2">
                                                                @{

                                                                    if (news.NewsDiscription.Length > 60)
                                                                    {

                                                                        <p>@Html.Raw(WebUtility.HtmlDecode(news.NewsDiscription.Substring(0, 60)))</p>
                                                                    }

                                                                }
                                                                <p><i class="fa fa-clock-o"></i>@news.CreatedTime.ToString("MMM/yyyy")</p>
                                                            </div>
                                                        </a>
                                                    </div>

                                                }
                                            </marquee>


                                        </div>


                                        <div class="side-news-feed mt-4">

                                            <h3><i class="fa fa-thumbs-up"></i> Top Deals</h3>

                                            @foreach (var item in Model.DealList)
                                            {
                                                <div class="news-feed-col">
                                                    <a href="@Url.Action("DealsDetails", "NewsAndDeals", new { id = item.GenerateItemNameAsParam() })">

                                                        <div class="right-news-desc2">

                                                            @{

                                                                if (item.DealsDiscription.Length > 60)
                                                                {
                                                                    <p>@Html.Raw(WebUtility.HtmlDecode(item.DealsDiscription.Substring(0, 60)))</p>

                                                                }

                                                            }

                                                            <p><i class="fa fa-clock-o"></i>@item.CreatedTime.Value.ToString("MMM/yyyy")</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            }


                                        </div>


                                    </aside>

                                </div>

                            }
                            </div>

                    </div>
                </div>
            </div>
        </body>