@model ChemAnalyst.ViewModel.NewsDetailsViewModel

@{
    if (Session["UserRole"] != null && Session["UserRole"].ToString().ToUpper() == "CUSTOMER")
    {
        Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutUser5.cshtml";
    }

}


    <body>

        @if (Session["UserRole"] == null)
        {

        <div class="inner-banner">
            <img src="/images/about-banner.jpg">
            <h1>Latest News</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("NewsHome", "NewsAndDeals")">All News</a></li>
            </ol>


        </div>

        }
            <div class="page-content">
                <div class="static-page">
                    <div class="container">

                        <div class="row">

                            <div class="col-md-9">

                                <div class="blog-detail">
                                    @{

                                        if (Session["UserRole"] != null && Session["UserRole"].ToString().ToUpper() == "CUSTOMER")
                                        {
                                            if (Model.News.NewsImg != string.Empty)
                                            {
                                                <div class="blog-big-pic"><img src="~/ProductImages/@Model.News.NewsImg" alt=""></div>
                                            }

                                            <div class="blog-detail-summary">

                                                <h3>@Model.News.NewsName</h3>



                                                <p>@Model.News.NewsDiscription</p>



                                            </div>
                                        }
                                        else
                                        {
                                            if (Model.News.NewsImg != string.Empty)
                                            {
                                                <div class="blog-big-pic"><img src="~/ProductImages/@Model.News.NewsImg" alt=""></div>
                                            }

                                <div class="blog-detail-summary">

                                    <h3>@Model.News.NewsName</h3>



                                    <p>@(Model.News.NewsDiscription.Length > 300 ? (Model.News.NewsDiscription.Substring(0, 300)) : Model.News.NewsDiscription)</p>

                                    <div class="btn subscription-btn"><a href="~/ChemAnalyst/FreeTrail">Click Here to Subscribe</a></div>

                                </div>
                                        }

                                    }

                                </div>


                            </div>
                            @if (Session["UserRole"] == null)
                            {
                                <div class="col-md-3">

                                    <aside>

                                        <div class="side-news-feed">

                                            <h3><i class="fa fa-bell-o"></i> News</h3>
                                            @foreach (var item in Model.NewsList)
                                            {
                                                <div class="news-feed-col">
                                                    <a href="@Url.Action("NewsDetails", "NewsAndDeals", new { id = item.GenerateItemNameAsParam() })">
                                                        @if (item.NewsImg != string.Empty)
                                                        {
                                                            <div class="left-news-pic"><img src="~/ProductImages/@item.NewsImg" alt=""></div>
                                                            <div class="right-news-desc">
                                                                <p>@(item.NewsDiscription.Length > 50 ? (item.NewsDiscription.Substring(0, 50)) : item.NewsDiscription)...</p>
                                                                <p><i class="fa fa-clock-o"></i>@item.CreatedTime.ToString("MMM/yyyy")</p>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="right-newsdesc">
                                                                <p>@(item.NewsDiscription.Length > 50 ? (item.NewsDiscription.Substring(0, 50)) : item.NewsDiscription)...</p>
                                                                <p><i class="fa fa-clock-o"></i>@item.CreatedTime.ToString("MMM/yyyy")</p>
                                                            </div>
                                                        }
                                                    </a>
                                                </div>
                                            }


                                        </div>


                                        <div class="side-news-feed mt-4">

                                            <h3><i class="fa fa-thumbs-up"></i> Top Deals</h3>

                                            @foreach (var item in Model.DealList)
                                            {
                                                <div class="news-feed-col">
                                                    <a href="@Url.Action("DealsDetails", "NewsAndDeals", new { id = item.GenerateItemNameAsParam() })">
                                                        @if (item.DealsImg != string.Empty)
                                                        {
                                                            <div class="left-news-pic"><img src="~/ProductImages/@item.DealsImg" alt=""></div>
                                                            <div class="right-news-desc">
                                                                <p>@(item.DealsDiscription.Length > 50 ? (item.DealsDiscription.Substring(0, 50)) : item.DealsDiscription)...</p>
                                                                <p><i class="fa fa-clock-o"></i>@item.CreatedTime.Value.ToString("MMM/yyyy")</p>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="right-newsdesc">
                                                                <p>@(item.DealsDiscription.Length > 50 ? (item.DealsDiscription.Substring(0, 50)) : item.DealsDiscription)...</p>
                                                                <p><i class="fa fa-clock-o"></i>@item.CreatedTime.Value.ToString("MMM/yyyy")</p>
                                                            </div>
                                                        }

                                                    </a>
                                                </div>
                                            }


                                        </div>


                                    </aside>

                                </div>

                            }
                            </div>

                    </div>
                </div>
            </div>
        </body>